body {
    margin:0;
    font-family:Arial;
    background: #f4f4f4;
}
.container{
    display: flex;
}
.sidebar input{
    width:100%;
    padding:8px;
    margin-top:10px;
}
button{
    width:100%;
    padding:10px;
    margin-top:12px;
    background: #4c6ef5;
    color:white;
    border:none;
    cursor:pointer;
}
.main{
    flex:1;
    padding:20px;
}
.search{
    width:300px;
    padding:8px;
    margin-bottom: 20px;
}
.grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:16px;
}
.card{
    background:white;
    padding:10px;
    border:1px solid #ddd;
}
.card img{
    width:100%;
    height:160px;
    object-fit:cover;
}
.action button{
    width:100%;
    margin-top:8px;
    background: #ccc;
    color:black;
}
.action .delete{
    background: red;
    color:white1;
}
.modal{
    position:fixed;
    top:0; left:0; right:0; bottom:0;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);
}
.modal-content{
    background: white;
    padding:20px;
    width:350px;
}
.hidden{
    display:none;
}